<% include ./partials/header.ejs %>

<div class="min-h-screen bg-[#121212]">
  
<% include ./partials/profile.ejs %>
<form
hidden
id="fileform"
method="post"
enctype="multipart/form-data"
action="/update"
>
<input id="file" type="file" name="image" />
</form>
      <div class=" mb-4 mt-8 flex flex-wrap gap-y-4 p-4 md:p-0">
        <div class="flex w-full items-center justify-center">
          <div class="flex flex-col items-center gap-2">
    <div class="image w-20 h-20 bg-sky-100 rounded-full overflow-hidden">
      <img
        class="w-full h-full object-cover"
        src="<%= user.profileImage %>"
        alt=""
      />
    </div>
    <button id="editbtn" class="text-[#ae7aff] capitalize">edit picture</button>
  </div>
          
        </div>

        <div
        class="flex w-full flex-col items-start justify-start gap-2 xl:w-1/2 xl:pr-2"
        >
        <form class="w-full" action="/update" method="post">
          <label class="text-xs text-slate-200">First name</label>
          <input
          name="firstname"
          value="<%= user.firstname %>"
            placeholder="Enter first name"
            autocomplete="false"
            class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
            
          />
        </div>
        <div
          class="flex w-full flex-col items-start justify-start gap-2 xl:w-1/2 xl:pl-2"
        >
          <label class="text-xs text-slate-200">Last name</label>
          <input
            placeholder="Enter last name"
            autocomplete="false"
            class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
            
          name="lastname"
          value="<%= user.lastname %>"
          />
        </div>
        <div class="flex w-full flex-col items-start justify-start gap-2">
          <label class="text-xs text-slate-200">Username</label>
          <input
            placeholder="Enter username"
            autocomplete="false"
            class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
            
          name="username"
          value="<%= user.username %>"
          />
        </div>
        <div class="flex w-full flex-col items-start justify-start gap-2">
          <label class="text-xs text-slate-200">Tagline</label>
          <input
            placeholder="Enter tagline"
            autocomplete="false"
            class="w-full border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
            name="tagline"
            value="<%= user.tagline %>"
            />
        </div>
        <div class="flex w-full flex-col items-start justify-start gap-2">
          <label class="text-xs text-slate-200">Short Bio</label>
          <textarea
          name="bio"
            placeholder="Enter short bio"
            autocomplete="false"
            class="w-full resize-none border-[1px] border-white bg-black p-4 text-white placeholder:text-gray-500"
          >
<%=user.bio%></textarea
          >
        </div>
        <input
          class="w-full bg-[#ae7aff] p-3 text-center font-bold text-black shadow-[5px_5px_0px_0px_#4f4e4e] transition-all duration-150 ease-in-out active:translate-x-[5px] active:translate-y-[5px] active:shadow-[0px_0px_0px_0px_#4f4e4e]"
          type="submit"
        value="Update Details"
        />
      </form>
      </div>
    </section>
    <aside class="hidden text-white lg:col-span-3 lg:block">
      <div class="sticky top-[100px] border p-4">
        <h2 class="mb-4 font-bold"># Trending Hashtags</h2>
        <ul class="list-disc pl-4">
          <li><button class="hover:text-[#ae7aff]">#javascript</button></li>
          <li><button class="hover:text-[#ae7aff]">#typescript</button></li>
          <li><button class="hover:text-[#ae7aff]">#java</button></li>
          <li><button class="hover:text-[#ae7aff]">#python</button></li>
          <li><button class="hover:text-[#ae7aff]">#golang</button></li>
        </ul>
      </div>
    </aside>
  </div>
</div>

<script>
  document.querySelector("#editbtn").addEventListener("click", function () {
    document.querySelector("#file").click();
  });

  document.querySelector("#file").addEventListener("change", function () {
    document.querySelector("#fileform").submit();
  });
</script>
<% include ./partials/footer.ejs %>
